<md-dialog aria-label="Create Account">
	<form>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Create Account</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-library="material-icons" class="md-light md-48">clear</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="max-width:450px;max-height:500px;">
		<md-content layout-padding class="autoScroll">
			<md-input-container class="md-icon-float" >
				<label>Email</label>
				<md-icon md-font-library="material-icons" class="md-dark md-48">email</md-icon>
				<input ng-model="user.email" type="text">
			</md-input-container>
			<md-input-container class="md-icon-float" >
				<label>Username</label>
				<md-icon md-font-library="material-icons" class="md-dark md-48">account_circle</md-icon>
				<input ng-model="user.name" type="text">
			</md-input-container>
			<md-input-container class="md-icon-float" >
				<label>Password</label>
				<md-icon md-font-library="material-icons" class="md-dark md-48">lock</md-icon>
				<input ng-model="user.password" type="password">
			</md-input-container>
			<md-input-container class="md-icon-float" >
				<label>Confirm Password</label>
				<md-icon md-font-library="material-icons" class="md-dark md-48">lock</md-icon>
				<input ng-model="user.passwordConfirm" type="password">
			</md-input-container>
		</md-content>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<span flex class="flex"></span>
		<md-button ng-click="submit(user.email, user.name, user.password, user.passwordConfirm)" style="margin-right:20px;" >
			Submit
		</md-button>
	</div>
	</form>
</md-dialog>